.VSCodeCounter
.DS_Store
**/.DS_Store
backend/dist
backend/client
backend/node_modules
backend/.env
backend/README.md
backend/package-lock.json
backend/yarn.lock
backend/.gitignore
backend/.DS_Store

frontend/build
frontend/node_modules
frontend/.env
frontend/README.md
frontend/package-lock.json
frontend/yarn.lock
frontend/.gitignore
frontend/.DS_Store