@font-face {
  font-family: "AmericanaBT-Bold";
  src: url("https://res.cloudinary.com/ddhdpllpw/raw/upload/v1628130766/celladore/AMERICANABT-BOLD_cagyfr.TTF");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("https://res.cloudinary.com/ddhdpllpw/raw/upload/v1628130767/celladore/Montserrat-Bold_sl5ovx.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("https://res.cloudinary.com/ddhdpllpw/raw/upload/v1628130706/celladore/Montserrat-Regular_xen9mw.ttf");
}